<article>
  <h3>약속</h3>
  <% @appointments.each do |app| %>
      <p><%= link_to "#{app.title}", appointment_path(app) %></p>
  <% end %>
  <%= link_to '약속 하기', new_appointment_path(type: 'MoneyApp') %>
</article>

<article>
  <h3>알림</h3>
  <%= render 'notification', notifications: @notifications %>
</article>