<!-- Header -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>//170731_최혁추가
<script src="http://malsup.github.com/jquery.cycle2.js"></script>//170731_최혁추가

<div class="intro-header" >
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">

          <h2> 당신 대신, 세상의 모든 약속관리</h2><h1>닦달(x) 닥달(o)</h1>

          <hr class="intro-divider">


          <ul class="list-inline intro-social-buttons">
            <li>
              <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">
                <span class="network-name">약속생성</span>
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">
                <span class="network-name">약속참여 [PIN번호]</span>
              </button>
            </li>
            <li>
              <a href="/home/show_my_page" class="btn btn-default btn-lg"> <span class="network-name">약속 List</span></a>
            </li>
          </ul>

          <!--&lt;!&ndash;최혁 임시 추가부분_이미지_슬라이드쇼.&ndash;&gt;-->
          <!--<div class="cycle-slideshow">-->
            <!--<img src="clock_1.png" style="width:30%;height:70%;">-->
            <!--<img src="temp_inha_logo.png" style="width:30%;height:70%;">-->
            <!--<img src="bird_1.jpg" style="width:30%;height:70%;">-->
          <!--</div>-->

          <!--<div class="cycle-slideshow">-->
            <!--<img src="temp_inha_logo.png" style="width:30%;height:70%;">-->
            <!--<img src="bird_1.jpg" style="width:30%;height:70%;">-->
            <!--<img src="clock_1.png" style="width:30%;height:70%;">-->
          <!--</div>-->


          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->

<%= render '/layouts/aboutcontact' %>
<!-- layouts에 about과 contact분리함 -->

