<section class="show-my-page-section">
  <!-- Page Content -->
  <div class="container">
    <div class="row section-padding my-noti">
      <div class="col-xs-12 col-sm-6">
        <h2 class="subs-title"><i class="fa fa-bell-o" aria-hidden="true"></i> 알림<br><br></h2>
        <h5>저희 닦달 서비스를 이용해주셔서 감사합니다.</h5>
        <br>
      </div>

      <br>

      <article class="container">
        <div class="col-xs-6 col-sm-6">
          <%= render partial: 'notification', collection: @notifications %>
        </div>
      </article>
    </div>
  </div>

  <br>

  <article class="container">
    <!-- Marketing Icons Section -->
    <div class="row my-apps" id="appointments">
      <!-- appointments/_appointment.html.erb -->
      <%= render @appointments %>
    </div>
  </article>

  <br>

  <div id="contact-info">
    <div class="container">
      <a href="/appointments/new?app_type=MoneyApp">
        <button class="btn btn-default btn-lg">약속하기</button>
      </a>
    </div>
  </div>
</section>