<!-- Page Content -->
<div class="container">
  <div class="row section-padding">
    <div class="col-xs-12 col-sm-6">
      <h2 class="subs-title"><i class="fa fa-bell-o" aria-hidden="true"></i> 알림</br></br></h2>
      <h5>저희 닦달 서비스를 이용해주셔서 감사합니다.</h5>
      <br>
    </div>

    <br>

    <article class="container">
      <div class="col-xs-6 col-sm-6">
        <!-- home/_notification.html.erb -->
        <%= render partial: 'notification', collection: @notifications %>
      </div>
    </article>
  </div>
</div>

<br>

<article class="container">
  <div class="row" id="appointments">
    <!-- appointments/_appointment.html.erb -->
    <%= render @appointments %>
  </div>
</article>

<br>

<div class="container">
  <div class="button-container-2">
    <span class="mas">약속하기</span>
    <a href="/appointments/new?app_type=MoneyApp" class="mask">
      <button type="button" name="Hover">약속하기</button>
    </a>
  </div>
</div>

