/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import 'font-awesome/font-awesome';
@import 'bootstrap/bootstrap';
@import 'landing-page';
@import 'modern-business';
@import 'jquery.datetimepicker';
@import 'appointments';
@import 'home';
@import 'nav';
@import 'device';
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);

body {
  background-color: white;
  min-height: 70%;
}

footer {
  padding: 50px 0;
  //background-color: darkred;
  background-color: #31935d;
  position: relative;
  width: 100%;
  margin: 15px 0 0 0;
  bottom: 0;
  clear: both;
}

.main-text {
  width: 100%;
  height: 100%;
  //background: #76b852;
  background: -webkit-linear-gradient(to left, #76b852, #76b852);
  //background: linear-gradient(to left, #76b852 , #76b852);
  display: flex;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  justify-content: center;
  align-items: center;
}

.main-textlogo {
  width: auto;
  height: 100%;
  display: flex;
  overflow: hidden;
  margin-top: 30px;
}

h1 {
  height: 120px;
  margin-top: 100px;
}

h1 span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce .3s ease infinite alternate;
  font-family: 'Titan One', cursive;
  font-family: 'Nanum Gothic Coding', sans-serif;
  font-size: 80px;
  color: black;
  text-shadow: 0 1px 0 #CCC,
  0 2px 0 #CCC,
  0 3px 0 #CCC,
  0 4px 0 #CCC,
  0 5px 0 #CCC,
  0 6px 0 transparent,
  0 7px 0 transparent,
  0 8px 0 transparent,
  0 9px 0 transparent,
  0 10px 10px rgba(0, 0, 0, .4);
}

h1 span:nth-child(2) {
  animation-delay: .1s;
}

h1 span:nth-child(3) {
  animation-delay: .2s;
}

h1 span:nth-child(4) {
  animation-delay: .3s;
}

h1 span:nth-child(5) {
  animation-delay: .4s;
}

h1 span:nth-child(6) {
  animation-delay: .5s;
}

h1 span:nth-child(7) {
  animation-delay: .6s;
}

h1 span:nth-child(8) {
  animation-delay: .7s;
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #CCC,
    0 2px 0 #CCC,
    0 3px 0 #CCC,
    0 4px 0 #CCC,
    0 5px 0 #CCC,
    0 6px 0 #CCC,
    0 7px 0 #CCC,
    0 8px 0 #CCC,
    0 9px 0 #CCC,
    0 50px 25px rgba(0, 0, 0, .2);
  }
}

.logoimg {
  width: 150px;
}

.logoimg1 {
  width: 230px;
  position: fixed;
  left: 10px;
  top: 20px;
  display: inline-block;
  animation: bounce .3s ease infinite alternate;
  margin-top: 180px;
  z-index: inherit;
}

@media screen and (max-width: 768px) {
  .menu__item:nth-child(n + 4) {
    display: block;
  }
}

.yield-section {
  min-height: 70%;
}

body .modal-admin {
  /* new custom width */
  width: 750px;
  /* must be half of the width, minus scrollbar on the left (30px) */
  margin-left: -375px;
}