<!-- Page Content -->
<div class="content-section-a" id="about">

  <div class="container">
    <div style="color: white" class="col-lg-3">
      <h2>About</h2>
      <!--<div class="col-xs-6 col-sm-8">-->

      <div class="clearfix"></div>
    </div>
    <div class="synopsis col-lg-9">
      <p>"일단 내가 계산할게" 라고 말한 뒤 깜빡한 친구에게 돈 보내달라 하기 귀찮고 선후배 사이에서 애매했던 경험,
        누구나 다 있으시죠?</p> 한번은 괜찮지만 두번은 매우 어려운 그 말!
      이제 `닥달` 서비스가 대신 문자로 보내드립니다.</p>
      닥달방을 만들고 돈 또는 시간 약속을 등록하면 주기적으로 상대방에게 문자가 전송되서 난감한 상황을 피할 수 있습니다.</p>
      당신 대신, 저희 닥달이가 닦달하겠습니다.
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div id="contact">

  <div class="container">
    <div class="row" style="color: black">
      <div style="margin-bottom: 20px" class="col-lg-3">
        <h2>Synopsis</h2>
      </div>
    </div>
  </div>
  <div class="slider">
    <div class="slide_viewer">
      <div class="slide_group">
        <div class="slide">
        </div>
        <div class="slide">
        </div>
        <div class="slide">
        </div>
        <div class="slide">
        </div>
        <div class="slide">
        </div>
        <div class="slide">
        </div>
        <div class="slide">
        </div>
      </div>
    </div>
  </div><!-- End // .slider -->

  <div class="slide_buttons">
  </div>
  <div class="directional_nav">
    <div class="previous_btn" title="Previous">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="-11 -11.5 65 66">
        <g>
          <g>
            <path fill="#474544" d="M-10.5,22.118C-10.5,4.132,4.133-10.5,22.118-10.5S54.736,4.132,54.736,22.118
			c0,17.985-14.633,32.618-32.618,32.618S-10.5,40.103-10.5,22.118z M-8.288,22.118c0,16.766,13.639,30.406,30.406,30.406 c16.765,0,30.405-13.641,30.405-30.406c0-16.766-13.641-30.406-30.405-30.406C5.35-8.288-8.288,5.352-8.288,22.118z"/>
            <path fill="#474544" d="M25.43,33.243L14.628,22.429c-0.433-0.432-0.433-1.132,0-1.564L25.43,10.051c0.432-0.432,1.132-0.432,1.563,0	c0.431,0.431,0.431,1.132,0,1.564L16.972,21.647l10.021,10.035c0.432,0.433,0.432,1.134,0,1.564	c-0.215,0.218-0.498,0.323-0.78,0.323C25.929,33.569,25.646,33.464,25.43,33.243z"/>
          </g>
        </g>
      </svg>
    </div>
    <div class="next_btn" title="Next">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="65px" height="65px" viewBox="-11 -11.5 65 66">
        <g>
          <g>
            <path fill="#474544" d="M22.118,54.736C4.132,54.736-10.5,40.103-10.5,22.118C-10.5,4.132,4.132-10.5,22.118-10.5	c17.985,0,32.618,14.632,32.618,32.618C54.736,40.103,40.103,54.736,22.118,54.736z M22.118-8.288	c-16.765,0-30.406,13.64-30.406,30.406c0,16.766,13.641,30.406,30.406,30.406c16.768,0,30.406-13.641,30.406-30.406 C52.524,5.352,38.885-8.288,22.118-8.288z"/>
            <path fill="#474544" d="M18.022,33.569c 0.282,0-0.566-0.105-0.781-0.323c-0.432-0.431-0.432-1.132,0-1.564l10.022-10.035 			L17.241,11.615c 0.431-0.432-0.431-1.133,0-1.564c0.432-0.432,1.132-0.432,1.564,0l10.803,10.814c0.433,0.432,0.433,1.132,0,1.564 L18.805,33.243C18.59,33.464,18.306,33.569,18.022,33.569z"/>
          </g>
        </g>
      </svg>
    </div>
  </div>


  <div id="contact">

    <div class="container">
      <div class="row" style="color: black">
        <div style="margin-bottom: 20px" class="col-lg-3">
          <h2>Team Member</h2>
        </div>
        <div class="synopsis col-lg-9">
           [김민지 (master)](https://github.com/minD3D)<hr>
           [최혁](https://github.com/HyukChoi)<hr>
           [정호재](https://github.com/hojae25)<hr>
           [이준](https://github.com/leejun6694)<hr>
           [신승륜](https://github.com/ssy23ssy)<hr>
           [정수진](https://github.com/sujinnie)<hr>

        </div>
        <div style="color: white" >
          <ul class="list-inline banner-social-buttons">
            <li>
              <a href="#" class="btn btn-default btn-lg"><i class="fa fa-google fa-fw"></i>
                <span class="network-name">Gmail</span></a>
            </li>
            <li>
              <a href="https://github.com/minD3D/DarkDari" class="btn btn-default btn-lg">
                <i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $('.slider').each(function() {
        var $this = $(this);
        var $group = $this.find('.slide_group');
        var $slides = $this.find('.slide');
        var bulletArray = [];
        var currentIndex = 0;
        var timeout;

        function move(newIndex) {
            var animateLeft, slideLeft;

            advance();

            if ($group.is(':animated') || currentIndex === newIndex) {
                return;
            }

            bulletArray[currentIndex].removeClass('active');
            bulletArray[newIndex].addClass('active');

            if (newIndex > currentIndex) {
                slideLeft = '100%';
                animateLeft = '-100%';
            } else {
                slideLeft = '-100%';
                animateLeft = '100%';
            }

            $slides.eq(newIndex).css({
                display: 'block',
                left: slideLeft
            });
            $group.animate({
                left: animateLeft
            }, function() {
                $slides.eq(currentIndex).css({
                    display: 'none'
                });
                $slides.eq(newIndex).css({
                    left: 0
                });
                $group.css({
                    left: 0
                });
                currentIndex = newIndex;
            });
        }

        function advance() {
            clearTimeout(timeout);
            timeout = setTimeout(function() {
                if (currentIndex < ($slides.length - 1)) {
                    move(currentIndex + 1);
                } else {
                    move(0);
                }
            }, 4000);
        }

        $('.next_btn').on('click', function() {
            if (currentIndex < ($slides.length - 1)) {
                move(currentIndex + 1);
            } else {
                move(0);
            }
        });

        $('.previous_btn').on('click', function() {
            if (currentIndex !== 0) {
                move(currentIndex - 1);
            } else {
                move(3);
            }
        });

        $.each($slides, function(index) {
            var $button = $('<a class="slide_btn">&bull;</a>');

            if (index === currentIndex) {
                $button.addClass('active');
            }
            $button.on('click', function() {
                move(index);
            }).appendTo('.slide_buttons');
            bulletArray.push($button);
        });

        advance();
    });
</script>